.add-button {
  &::before,
  &::after {
    content: '';
    box-shadow: none;
    text-shadow: none;
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
  }
  &::after {
    transform: rotate(90deg);
  }
  &.active::before {
    transform: rotate(-45deg);
  }
  &.active::after {
    transform: rotate(45deg);
  }
  // &.active::before {
  //   transform: rotate(-180deg);
  // }
  // &.active::after {
  //   transform: rotate(180deg);
  // }
  // &.active::before {
  //   transform: rotate(-225deg);
  // }
  // &.active::after {
  //   transform: rotate(225deg);
  // }
}
